In [5]:
x=3+2*2       

x #prints the value of x 
y=(3+2)*2  
y 
z=x+y 

z #gives output 7+10=17

17

In [9]:
str2="Micheal Jackson"
str3="is the best"
str2+str3

'Micheal Jacksonis the best'

In [12]:
print("Hello \\ world")
print(r"Hello \ world")

Hello \ world
Hello \ world

In [13]:
a = "The BodyGuard is the best album" 

b = a.replace('BodyGuard', 'Janet') 

b

'The Janet is the best album'

In [14]:
#Split the substring into list 

name = "The BodyGuard" 

split_string = (name.split()) 

split_string

['The', 'BodyGuard']

In [18]:
g = "Mary had a little lamb Little lamb, little lamb Mary had a little lamb  Its fleece was white as snow And everywhere that Mary went Mary went, Mary went Everywhere that Mary went The lamb was sure to go" 
g.find("snow")

96

In [19]:
g.replace("Mary","Bob")

'Bob had a little lamb Little lamb, little lamb Bob had a little lamb  Its fleece was white as snow And everywhere that Bob went Bob went, Bob went Everywhere that Bob went The lamb was sure to go'

In [20]:
list=g.split() 

list

['Mary',
 'had',
 'a',
 'little',
 'lamb',
 'Little',
 'lamb,',
 'little',
 'lamb',
 'Mary',
 'had',
 'a',
 'little',
 'lamb',
 'Its',
 'fleece',
 'was',
 'white',
 'as',
 'snow',
 'And',
 'everywhere',
 'that',
 'Mary',
 'went',
 'Mary',
 'went,',
 'Mary',
 'went',
 'Everywhere',
 'that',
 'Mary',
 'went',
 'The',
 'lamb',
 'was',
 'sure',
 'to',
 'go']

In [21]:
import re 

s3 = "House number- 1105" 

result=re.search(r"\d",s3) 

if result: 

    print("digit found") 

else: 

    print("digit not found")

digit found

In [22]:
import re 

str2= "How much wood would a woodchuck chuck, if a woodchuck could chuck wood?" 

re.findall("woo",str2)

['woo', 'woo', 'woo', 'woo']

In [24]:
tuple=(9,0,("get",7)) 

tuple[0]=1

TypeError: 'tuple' object does not support item assignment

In [27]:
A=[1,3,5,[7,0,9],"hey"]  

B=A 

B[0]=0 

print(A , B)

[0, 3, 5, [7, 0, 9], 'hey'] [0, 3, 5, [7, 0, 9], 'hey']

In [28]:
tuple=(4,0,9,3,7,1) 

Tuple=sorted(tuple) #output is (0,1,3,4,7,9)
Tuple

[0, 1, 3, 4, 7, 9]

In [31]:
arr=["micheal","jhon",1,3,(0,5)] 

print(arr[4])

(0, 5)

In [32]:
print(arr[4][1]) #the output will be 5

print(arr[0][5])

5
a

In [38]:
tuple0=("ROCK","and") 

tuple1=("ROLL","party")

print(tuple0+tuple1)

('ROCK', 'and', 'ROLL', 'party')

In [42]:
a=["a","b","c","d"] 

a.extend("e")
a

['a', 'b', 'c', 'd', 'e']

In [44]:
d1={"a":"letter",1:"number","True":"boolean"} 

d1["True"] #output is boolean

'boolean'

In [46]:
del d1["True"]  

d1 #output is {“a”:”letter”,1:”number”}

{'a': 'letter', 1: 'number'}

In [49]:
1 in d1

True

In [50]:
print(d1.keys()) #prints all the keys 

print(d1.values()) #prints all the values

dict_keys(['a', 1])
dict_values(['letter', 'number'])

In [52]:
d2={1:"one",2:"two",3:"three",4:"four"} 

d2[5]="five"  

d2  #output is {1:”one”,2:”two”,3:”three”,4:”four”,5:”five”}

{1: 'one', 2: 'two', 3: 'three', 4: 'four', 5: 'five'}

In [53]:
set1={1,2,3} 
set2={4,5,6} 
print(set1.union(set2)) #output is {1,2,3,4,5,6} 
print(set1.intersection(set2))  #output is {}

{1, 2, 3, 4, 5, 6}
set()

In [54]:
set3={0,1,3} 
print(set3.issubset(set1)) #output is False as 0 isnt present is set1

False

In [55]:
0 in set3 #output is True

True

In [56]:
squares=["red","yellow","green"] 

for i,square in enumerate(squares): #the indentation is imp as it helps us denote  #that particular block is under loop 
                         print(square,i) #output will be 0,red 1,yellow and 2,green

red 0
yellow 1
green 2

In [ ]:
colors=["red","blue","red","orange","orange","green","yellow"] 
color=[] 

for c in colors: 
        if c=="orange": 
                 color.append(c) #output will be [“orange”,”orange”] 
color

In [ ]:
colors=["red","blue","red","orange","orange","green","yellow"] 
color=[]
i=0
while(i<len(colors)): 
    if (colors[i]=="orange"):
        color.append(colors[i]) #same output
        i+=1
color