In [10]:
def add(x):
    x+=9 
    return x
add(5)

14

In [15]:
def ACDC(y): 
    return (Rating+y) 
Rating=9 
Z=ACDC(1) 
print(Z)

10

In [17]:
try: 
    getfile=open("myfile","r") 
    getfile.write("My file") 
except IOError: 
    print("unable to open and read the file") 
else: 
    print("The file was written sucessfully") 

finally:
    getfile.close()

unable to open and read the file

NameError: name 'getfile' is not defined

In [20]:
class Circle: 
    def __init__(self,r): 
        self.r=r  
c=Circle(9) 
print(c.r)

9

In [23]:
class Circle: 
    def __init__(self,r): 
        self.r=r 
    def Square(self): 
        self.r*=self.r 
        return self.r 
c1=Circle(9)
c1.Square()
print(c1.r)

81

In [42]:
with open("examples/Example1.txt","r") as fp: 
    content=fp.readline() 
    print(content)
    content=fp.readline() 
    print(content)
    content=fp.readline(5)  
    print(content)

this is line 1

this is line 2

this

In [43]:
with open("examples/Example1.txt","w") as f1: 
                  f1.write("Hey") #writing will overwrite the file with the new passed content  
with open("examples/Example1.txt","r") as f2: 
                  content=f2.readlines() #wills store lines in the form of list 
print(content) #[“Hey”] is printed

['Hey']

In [45]:
lines=["This is line 1\n","This is line 2\n","This is line3\n"] 
with open("examples/Example1.txt","w") as f3: 
    for line in lines: 
        f3.write(line) #writes it line by line

In [47]:
with open('examples/Example1.txt', 'a+') as testwritefile: 
    testwritefile.write("This is line E\n") 
    testwritefile.seek(0)  # Move file pointer to the beginning 
    print(testwritefile.read())  # Now it will read the whole file

This is line 1
This is line 2
This is line3
This is line E

In [51]:
with open('examples/Example1.txt', 'a+') as testwritefile: 
    print("Initial Location: {}".format(testwritefile.tell())) 
    data = testwritefile.read() #reads nothing  
    if (not data):  #empty strings return false in python 
        print('Read nothing')  
    else:  
        print(testwritefile.read())

Initial Location: 63
Read nothing

In [52]:
from random import randint as rnd 

  

memReg = 'examples/members.txt' 

exReg = 'examples/inactive.txt' 

fee =('yes','no') 

  

def genFiles(current,old): 

    with open(current,'w+') as writefile:  

        writefile.write('Membership No  Date Joined  Active  \n') 

        data = "{:^13}  {:<11}  {:<6}\n" #this is an optional line to format the data  

  

        for rowno in range(20): #generates it 20 times instead of rowno we can use i 

            date = str(rnd(2015,2020))+ '-' + str(rnd(1,12))+'-'+str(rnd(1,25)) 

            writefile.write(data.format(rnd(10000,99999),date,fee[rnd(0,1)])) #membership 5 digit random 

  

  

    with open(old,'w+') as writefile:  

        writefile.write('Membership No  Date Joined  Active  \n') 

        data = "{:^13}  {:<11}  {:<6}\n" 

        for rowno in range(3): 

            date = str(rnd(2015,2020))+ '-' + str(rnd(1,12))+'-'+str(rnd(1,25)) 

            writefile.write(data.format(rnd(10000,99999),date,fee[1])) 

  

  

genFiles(memReg,exReg)

In [54]:
import pandas as pd 
arr=[1,3,5,7,9] 
s=pd.Series(arr) 
s

0    1
1    3
2    5
3    7
4    9
dtype: int64

In [63]:
import pandas as pd 
df=pd.DataFrame({"foods":["chips","cookies","coke","apples","jaggery","milk"] 
,"health":["junk","junk","junk","healthy","healthy","healthy"]})
df #prints the data in the form of a data frame

     foods   health
0    chips     junk
1  cookies     junk
2     coke     junk
3   apples  healthy
4  jaggery  healthy
5     milk  healthy

In [66]:
import pandas as pd 
df1=pd.read_csv("examples/ex1.csv" , header=None , names=["a","b","c","d"])  
df1

    a   b   c        d
a   b   c   d  message
1   2   3   4    hello
5   6   7   8    world
9  10  11  12      foo

In [69]:
df2=pd.read_csv("examples/ex2.csv") #will change the index  
#suppose in this file i want to acess a particular range of indexes into another #dataframe then we will do as follows 
df3=df2.iloc[0:2,0:3]
df3

   1   2   3
0  5   6   7
1  9  10  11

In [71]:
import numpy as np
a=np.array([1,4,5,9]) 
print(a.ndim) #prints the dimension of array in this case 1 
print(a.shape) #prints the size of array in tuple ex:- for a 2-d array is (3,3) 
print(a.size) #prints the no.of elements  
print(a[0:2]) #prints 1st and 2nd elements 
print(a.max()) #prints the maximum value of array 
print(a.mean()) #prints the mean of all numbers

1
(4,)
4
[1 4]
9
4.75

In [73]:
u=np.array([1,2]) 
v=np.array([3,4]) 
z=u+v #output is [4,6] 
z

array([4, 6])

In [74]:
z=u*v #output is [3,8] 
z=np.dot(u,v) #dot product of u and v 
z

11

In [75]:
import numpy as np
a=np.array([[1,2,3],[4,5,6],[7,8,9]]) #the number of starting and ending brackets #denotes the dimension of the array (note mathematical dimensions=shape of array) 
b=np.array([[10,11,12],[13,14,15],[16,17,18]]) 

print(a.ndim) #output will be 2 
print(a.shape) #output will be (3,3) 
print(a.size) #output will be 9 
print(a+b) #adds each element with the corresponding 
print(a*b) #hadamard product 
print(np.dot(a,b)) #matrix multiplication

2
(3, 3)
9
[[11 13 15]
 [17 19 21]
 [23 25 27]]
[[ 10  22  36]
 [ 52  70  90]
 [112 136 162]]
[[ 84  90  96]
 [201 216 231]
 [318 342 366]]

In [79]:
!pip install pycoingecko 
from pycoingecko import coingeckoapi 
import pandas as pd 
cg=CoinGeckoApi() #to create a client object here assume the api to be a class  
bitcoin_data=cg.get_coin_market_chart_by_id(id="bitcoin",vs_currency="inr",days=30) #.get is used in dictonaries to get values associated with a key here json files are like #dictionaries 
'''response would a json file with dictonary like setup having multiple data like price,marketcap etc......  but we are only concerned with the price'''
data=pd.DataFrame(bitcoin_data["prices"],columns=["Timestamp","Price"]) 
#we will convert the timestamp into date and time format using a pandas method 
data["Date"]=pd.to_datetime(data["TimeStamp"], unit="ms") 
data

Requirement already satisfied: pycoingecko in c:\users\umasa\anaconda3\lib\site-packages (3.2.0)
Requirement already satisfied: requests in c:\users\umasa\anaconda3\lib\site-packages (from pycoingecko) (2.32.3)
Requirement already satisfied: charset-normalizer<4,>=2 in c:\users\umasa\anaconda3\lib\site-packages (from requests->pycoingecko) (3.3.2)
Requirement already satisfied: idna<4,>=2.5 in c:\users\umasa\anaconda3\lib\site-packages (from requests->pycoingecko) (3.7)
Requirement already satisfied: urllib3<3,>=1.21.1 in c:\users\umasa\anaconda3\lib\site-packages (from requests->pycoingecko) (2.2.3)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\umasa\anaconda3\lib\site-packages (from requests->pycoingecko) (2024.12.14)

ImportError: cannot import name 'coingeckoapi' from 'pycoingecko' (C:\Users\umasa\anaconda3\Lib\site-packages\pycoingecko\__init__.py)